*,*::before, *::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Bebas Neue', "Arial", sans-serif;
}
p {
  margin: 0;
}
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  background-color: #e5e5e5;
  /* font-family: 'Roboto Condensed', sans-serif; */
}
.main-content-wrapper {
  display: flex;
  flex-grow: 1;
}

/* SITE-PROMO  */
.site-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-image:url(/img/nature.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.title {
  margin-top: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
}
.title--white {
  margin-top: 0;
  color: #fff;
}
.title--black {
  color: #222;
}
.title__site-promo {
  width: 285px;
}
.title__site-promo, .last-videos__title {
  margin-bottom: 24px;
}
.site-promo__img {
  margin-right: 12px;
}
.site-promo__link {
  display: inline-flex;
  padding: 12px 24px;
  background-color: #1e90ff;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: .4s ease;
}
.site-promo__link:hover{
  background-color: rgba(30, 144, 255, 0.8);
}
.site-promo__link:active{
  background-color: rgba(30, 144, 255, 0.6);
}
.site-promo__link-text {
  text-transform: uppercase;
}

/* LAST VIDEOS  */
.last-videos {
  width: 50%;
  padding: 54px;
  background-color: #fff;
}
.video-card__title-link {
  text-decoration: none;
  color: #222;
  transition: .4s ease;
}
.video-list {
  padding-top: 24px;
  border-top: 1px solid #999;
  margin-bottom: 23px;
}
.video-card {
  display: flex;
  margin-bottom: 10px;
}
.video-card:last-child {
  margin-bottom: 0;
}
.video-card__img {
  flex-shrink: 0;
  border-radius: 4px;
  margin-right: 16px;
}
.video-card__content {
  padding-top: 16px;
}
.video-card__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #222;
}
.video-card__title-link:hover{
  color: #1e90ff;
}
.video-card__title-link:active{
  color: rgba(30, 144, 255, 0.6);
}
.video-card__desc {
  display: flex;
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #888;
  white-space: nowrap;
}
.video-card__publish-date::before {
  width: 13.33px;
  height: 13.33px;
  content: url(/img/clock.svg);
  margin-right: 5px;
}
.video-card__publish-date {
  margin-right: 25px;
  display: flex;
}
.video-card__viewing-info::before {
  content: url(/img/eye.svg);
  width: 14.67px;
  height: 10px;
  margin-right: 5px;
}
.video-card__viewing-info {
  display: flex;
}
.video-card__viewing-info-text {
  color: #666;
}
.view-more {
  cursor: pointer;
  width: 100%;
  padding: 12px 0;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #1e90ff;
  border: 0;
  transition: .4s ease;
}
.view-more:hover {
  background-color: rgba(30, 144, 255, 0.8);
}
.view-more:active {
  background-color: rgba(30, 144, 255, 0.6);
}